.footer
{
    background-color:#F4E7D9;
    width: 100%;
    margin-top:120px ;
}
.footer-content
{
    width: 100%;
    margin: auto;
}
.img
{
    width: 30%;
    margin: auto;
    padding: 60px;
    text-align: center;
}
.icons i{
    font-size: 20px;
    margin-left: 1px;
}
.icons .facebook
{
    
    color: rgb(50, 50, 222);
    background-color: rgb(255, 255, 255);
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;

}
.icons .youtube
{
 color: red;
 background-color: rgb(255, 255, 255);
 line-height: 30px;
 height: 30px;
 width: 30px;
 text-align: center;
 border-radius: 50%;
}
.icons .whatsapp
{
    color: rgb(19, 196, 19);
    background-color: rgb(255, 255, 255);
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}
.icons .twitter ,.messenger
{
    color:rgb(73, 133, 244);
    background-color: rgb(255, 255, 255);
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}
.last-line
{
    font-size: 8px;
    
}
.icons a i:hover{
    opacity: 0.5;
}
.last-line
{
    color:  #311C10;
}